<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main | Top Site</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="icon.png" type="image/x-icon"/>
</head>

<body>
{% include '/blog/widget/navigation.twig' %}

<div class="section">
    <div class="content-wrap">
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

{% include '/blog/widget/footer.twig' %}