<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gaco - Landscaping & Gardening Html Template</title>
    <meta name="description" content="Gaco is multipurpose Html template option for web developer or designer who needs a web template to promote and introduce their business company or client. Gaco is designed for Landscaping, Gardening & Lawn Business.">
    <meta name="keywords" content="agriculture, florist, flowers, garden, gardener, grass, irrigation, landscape, landscaper, landscaping, lawn, lawn services, mowing">
    <meta name="author" content="rometheme.net">

    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="../template/blog/images/favicon.ico">
    <link rel="apple-touch-icon" href="../template/blog/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../template/blog/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../template/blog/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS VENDOR
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="../template/blog/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../template/blog/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../template/blog/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../template/blog/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="../template/blog/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../template/blog/css/vendor/animate.min.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="../template/blog/css/style.css" />

    <script src="../template/blog/js/vendor/modernizr.min.js"></script>

</head>

<body>
{% include '/blog/widget/navigation.twig' %}

<div class="section">
    <div class="content-wrap">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

{% include '/blog/widget/footer.twig' %}