<div class="d-flex flex-column">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>2020 &copy; Top Site</small>
        </div>
    </footer>
</div>

<!-- JS VENDOR -->
<script src="../template/blog/js/vendor/jquery.min.js"></script>
<script src="../template/blog/js/vendor/bootstrap.min.js"></script>
<script src="../template/blog/js/vendor/owl.carousel.js"></script>
<script src="../template/blog/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- SENDMAIL -->
<script src="../template/blog/js/vendor/validator.min.js"></script>
<script src="../template/blog/js/vendor/form-scripts.js"></script>

<script src="../template/blog/js/script.js"></script>
