<div class="footer">
    <div class="content-wrap pb-0">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-item">
                        <img src="images/logo_w.png" alt="logo bottom" class="logo-bottom">
                        <div class="spacer-30"></div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                        <div class="sosmed-icon icon-bg-primary d-inline-flex">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            Contact Info
                        </div>

                        <div class="row mb-3">
                            <div class="col-5">Address :</div>
                            <div class="col-7">99 Park Jomblo Street, Panam, Pekanbaru 28292, Riau</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5">Office  :</div>
                            <div class="col-7">(123) 65412309</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5">Fax :</div>
                            <div class="col-7">(123) 65412309</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5">Email :</div>
                            <div class="col-7">info@yoursite.com</div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-title">
                            Opening Hours
                        </div>

                        <div class="row mb-3">
                            <div class="col-5">Mon - Sat :</div>
                            <div class="col-7">08:00 - 17:00</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5">Sunday :</div>
                            <div class="col-7">09:00 - 15:00</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5">Friday :</div>
                            <div class="col-7">Closed</div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <img src="images/dummy-img-600x800.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="fcopy">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <p class="ftex">Copyright 2019 &copy; <span class="color-primary">Gaco Html Template</span>. Designed by <span class="color-primary">Rometheme.</span></p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- JS VENDOR -->
<script src="../template/blog/js/vendor/jquery.min.js"></script>
<script src="../template/blog/js/vendor/bootstrap.min.js"></script>
<script src="../template/blog/js/vendor/owl.carousel.js"></script>
<script src="../template/blog/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- SENDMAIL -->
<script src="../template/blog/js/vendor/validator.min.js"></script>
<script src="../template/blog/js/vendor/form-scripts.js"></script>

<script src="../template/blog/js/script.js"></script>

</body>
</html>