<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <a class="navbar-brand text-dark font-weight-bold" href="index.php"><img src="/template/blog/images/icon.png" width="35" height="35"> Top Site</a>
    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-dark font-weight-bold" href="index.php">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="about.php">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contacts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-danger mr-2 my-sm-0" data-toggle="modal" data-target="#sign_up">Sign Up</button>
        <button type="button" class="btn btn-outline-primary mr-5 my-sm-0" data-toggle="modal" data-target="#sign_in">Sign In</button>

        <!--Начало модального окна (Рег.)-->
        <div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="sign_upLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sign_upLabel">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="check.php" method="post">
                            Email
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="modal-body">
                        Password
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="modal-footer">
                        <button name="btn-sign" type="submit" class="btn btn-success">Sign Up</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Конец модального окна-->

        <!--Начало модального окна (Вход)-->
        <div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="sign_inLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sign_inLabel">Sign In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="login.php" method="post">
                            Email
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="modal-body">
                        Password
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Restore password</button>
                        <button name="btn-login" type="submit" class="btn btn-success">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Конец модального окна-->


        <!--Начало формы поиска-->
        <form_search class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form_search>
        <!--Конец формы поиска-->

    </div>
</nav>